footer {
  flex-direction: column !important;
  -webkit-box-orient: vertical !important;
  margin: 3em 0;
  a,
  p {
    margin-top: 2em;
    display: flex;
    text-align: center;
    flex-grow: 1;
  }
  a img {
    width: 74px;
    height: 30px;
  }
  p {
    font-size: .8rem;
    color: rgba(0, 0, 0, .5)
  }
}
