/* Base for label styling */

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}

[type="checkbox"]:not(:checked)+label,
[type="checkbox"]:checked+label {
  position: relative;
  padding-left: 2em;
  cursor: pointer;
  user-select: none;
  font-family: $Gotham-XLite;
  margin-right: 2em;
  font-size: .8rem;
  letter-spacing: .05rem;
  line-height: 42px;
}


/* checkbox aspect */

[type="checkbox"]:not(:checked)+label:before,
[type="checkbox"]:checked+label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 1.2em;
  height: 1.2em;
  border: 1px solid white;
  background: transparent;
}


/* checked mark aspect */

[type="checkbox"]:not(:checked)+label:after,
[type="checkbox"]:checked+label:after {
  content: '✔';
  position: absolute;
  font-size: 1.3em;
  line-height: 1;
  top: 0em;
  left: .1em;
  color: $orange;
  @include transition;
}


/* checked mark aspect changes */

[type="checkbox"]:not(:checked)+label:after {
  opacity: 0;
  transform: scale(0);
}

[type="checkbox"]:checked+label:after {
  opacity: 1;
  transform: scale(1);
}
